.homepage-choice-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-choice-image {
    width: 300px;
    /*height: 64px;*/
    margin: 0 32px 0 32px;

}

.header-bar {
    background-color: #888888;
    /*width: 2303px;*/
    height: 450px;
}

.homepage-container {
    /*max-width: fit-content;*/
    /*margin-top: 3%;*/
}


.blue-background {
    background-color: #1976d2;
}


#app-div {
}

.wrapper {
}

#summary-root {
}

#root {
    height: 100%;
    width: 99%;

    /* example padding, font-size, background, etc */
    padding: 10px;
    font-size: 20px;
    /*background-color: lightskyblue;*/


    /*margin: 0 auto;*/
    /*padding: 1rem;*/
    text-align: center;

    /*height: 1200px;*/

}

.root-div {

}



html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}



.header {
    font-weight: bold;
}

.my-button {
    padding: 20px;
!important;
    margin: 20px;
!important;
}

.my-header {
    font-weight: bold;
}

.menu-table {
    width: -webkit-fill-available;
}

.menu-table-row {
    text-align: left;
    font-size: medium;
}

.coin-detail-table {
    width: -webkit-fill-available;
}

.coin-detail-table-row {
    text-align: left;
    font-size: medium;
}

.profit {
    color: green;
}

.loss {
    color: red;
}

.centered-element-wrapper {
    display: inline-block;
    /*display: flex;*/
}


.centered-element {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    /*display: flex;*/
}

